.card__container{
    margin-top: 12px
}

.card{
    min-width: 100%;
}

.repo__header{
    display: flex;
    justify-content: space-between;
}

.chip{
    margin-left: 0.8rem;
}

.repo__description{
    padding-top: 15px;
}

.expand__panel{
    min-width: 100%;
}
.expandIcon{
    text-align: center;
    padding-top: 12px;
}